<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1> DISNEY!</h1>
        
        <form th:action="@{/personajes/create}" method="GET">  
            <button type="submit" > Personajes</button>
         </form>
        
        <form th:action="@{/personajes/characters}" method="GET">  
            <button type="submit" > Listado Personajes</button>
         </form>
       
        <form th:action="@{/peliculaSerie/create}" method="GET">  
            <button type="submit"> Peliculas o Series</button>
         </form>
        
        <form th:action="@{/genero/create}" method="GET">  
            <button type="submit"> Genero</button>
        </form>
    </body>
</html>
