<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <body>
        <head>
            <title>TODO supply a title</title>
            <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    </head>

                    <section>
                        
                            <div >
                                <div>
                                    <div>
                                        <h2>Ingresá a Api Disney</h2>
                                        <form action="/logincheck" method="POST">
                                            <p th:if="${error != null}" th:text="${error}" ></p>
                                            <p th:if="${logout != null}" th:text="${logout}" ></p>

                                            <label>E-Mail</label>
                                            <input type="email" class="form-control" name="username"/>

                                            <label>Clave</label>
                                            <input type="password" class="form-control" name="password"/>

                                            <br/><button type="submit" class="btn btn-primary">Ingresar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                    </section>


                    </body>

                    </html>
